COMPANY_NAME="Formatos Chile"
SITE_NAME="Formatos Chile"

SHOPIFY_WEBHOOK_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN="[your-shopify-store-subdomain].myshopify.com"

SENTRY_DSN="https://dc0f6fd4110aa5eb234d7a17f5096907@o4511976636481536.ingest.us.sentry.io/4511976639496192"
NEXT_PUBLIC_SENTRY_DSN="https://dc0f6fd4110aa5eb234d7a17f5096907@o4511976636481536.ingest.us.sentry.io/4511976639496192"
SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""